!!! 5
%html(lang="en-US")
  %head
    %meta(charset="UTF-8")
  %body
    %p Hi #{@invitation[:recipient_name]}
    %p you are invited by #{@invitation.inviter.full_name}
    %p= @invitation[:message]
    = link_to "Link to registering on myflix", register_with_token_url(@invitation.token)