---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000069&card[exp_month]=12&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BZW0yFbDoFsZOtGgqUb3oJM",
          "object": "token",
          "card": {
            "id": "card_1BZW0yFbDoFsZOtGNO1OeY4b",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "GwrG2lyYEWT6CPgI",
            "funding": "credit",
            "last4": "0069",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "121.58.37.135",
          "created": 1513393624,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 16 Dec 2017 03:07:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1BZW0yFbDoFsZOtGgqUb3oJM
    headers:
      Authorization:
      - Bearer sk_test_R7CsF65YXLyWRgQfDF7X0QBq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_1BZW10FbDoFsZOtG6phCRPeB"
          }
        }
  recorded_at: Sat, 16 Dec 2017 03:07:07 GMT
recorded_with: VCR 3.0.3
